/* Шапка */
#pageHeader{
	display: block;
	height:auto;
}
#pageHeader>button{
	margin-top:10px;
	margin-bottom: 10px;
}
#pageHeader>.site-branding>.row>.col-lg-8>div{
	text-align: right;
	margin-top:5px;
}
#pageHeader>.site-branding>.row>.col-lg-8>div>a{
	color:rgb(0,0,0);
}
#pageHeader>.site-branding>.row>.col-lg-8>div>#account{
	margin-left: 15px;
	margin-right: 15px;
}
#pageHeader>.site-branding>.row>.col-lg-8>div>a:hover,#pageHeader>.navbar-collapse>ul>li>a:hover{
	color: red;
}
#pageHeader>.navbar-collapse>ul>li{
	text-align: center;
	border-left: 1px solid silver;
	border-right: 1px solid silver;
}
#pageHeader>.navbar-collapse>ul>li>a{
	text-decoration: none;
	color: black;
	font-size: 120%;
}
#searcher{
	background: rgb(255,77,1);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.08);
    height: 120px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateY(-200%);
    transition: all 300ms ease 0s;
    z-index: 2147483647;
}
#searcher>form>div{
	margin-top:45px;
}
#searcher>form>div>#s{
	width: 100%;
	height: 30px;
	padding:0;
	border:0;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}
#searcher>form>#searchsubmit{
	background: #fff;
	height:30px;
	padding: 5px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}
#searcher>form>#searchsubmit>svg,#searcher>form>#searchClose>svg{
	float: right;
}
#pageHeader>.searcherShow{
	transform: translateY(0px);
	transition: all 300ms ease 0s;
}
#pageHeader>#searcher>form>#searchClose>svg{
	transition: all 0.5s ease 0s;
    transform: scale(1) rotate(0deg);
}
#pageHeader>#searcher>form>#searchClose>svg:hover{
	transform: scale(2) rotate(180deg);
}
/* Конец Шапки */